/* styles/About.css */
.about-container {
    height: 70vh; /* Set the height of the container, adjust as needed */
    background-image: url('../../assets/images/BW-BG.jpg'); /* Update the path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-section {
    flex: 2; /* Takes up 2/3 of the container */
    padding: 20px; /* Add padding as needed */
    background-color: #050505; /* Add your desired background color */
    text-align: center;
    color: white;
  }

  .text-section h2, .text-section h3{
    color: green;
  }

  .image-section {
    flex: 1; /* Takes up 1/3 of the container */
    padding: 20px; /* Add padding as needed */
  }
  
  .image-section img {
    width: 80%; /* Set width to auto */
    height: auto; /* Set height to 90% of its container */
    display: block; /* Remove default spacing at the bottom of the image */
    margin: 0 auto; /* Center the image horizontally */
  }
  